<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>채팅 서비스</title>
<style>
html {
	overflow: hidden;
}
</style>
<!-- Bootstrap core CSS -->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

<!-- 부가적인 테마 -->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<!-- <script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->


</head>
<body>
	<!-- <input type="text" id="nickname" class="form-inline"
		placeholder="닉네임을 입력해주세요용" required autofocus>
	<button class="btn btn-primary" id="name">확인</button> -->
	<label for="roomId" class="label label-default">방 번호</label>
	<label th:text="*{room.roomId}" id="roomId" class="form-inline"></label>
	<br>
	<!-- <label for="roomName" class="label label-default">방 이름</label>
	<label th:text="*{room.name}" id="roomName" class="form-inline"></label> -->
	<div id="chatroom"
		style="overflow: auto; width: 400px; height: 600px; border: 1px solid; background-color: #9bbbd4"></div>
	<select id="message" style="height: 30px; width: 340px" required
		placeholder="Please select" autofocus>
		<option
			value='<img src = https://t1.daumcdn.net/cfile/tistory/251FF24A5916916913 width=200px>'>
			야돈</option>
		<option
			value='<img src = https://t1.daumcdn.net/cfile/tistory/99BDDD475AE75AD90B width=200px>'>
			자는 잠만보</option>
		<option
			value='<img src = https://t1.daumcdn.net/cfile/tistory/99511F435AE75A120B width=200px>'>
			기분좋은아차모</option>
		<option
			value='<img src = https://t1.daumcdn.net/cfile/tistory/99BE76495AE75A240C width=200px>'>
			파이리도망</option>
		<option
			value='<img src = https://t1.daumcdn.net/cfile/tistory/99C6A1495AE75A2A0B width=200px>'>
			선그라스 꼬부기</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200.gif width=200px>'>
			풍둔</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200-2.gif width=200px>'>
			하이파이브</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/giphy.gif width=200px>'>
			피꺼츄</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200w.gif width=200px>'>
			아이 신나</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200w-2.gif width=200px>'>
			ㅠㅠ슬퍼 펭도리</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200-3.gif width=200px>'>
			피카츄 훔치기</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200w-3.gif width=200px>'>
			피카츄 사탕</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200-4.gif width=200px>'>
			캬캬 꼬부기</option>
		<option
			value='<img src = http://192.168.1.97:8080/img/200w-4.gif width=200px>'>
			꺄항</option>
	</select>
	<button class="btn btn-primary" id="send">전송</button>
	<div id="divButtonCreateRoom"
		style="width: 20%; height: 100%; padding: 5px;">
		<button type="button" onclick="disconnect()" class="btn btn-info"
			style="float: right;">나가기</button>
	</div>
	<script>

</script>
</body>
<script th:inline="javascript">

//엔터키를 통해 send함
function enterkey() {
    if (window.event.keyCode == 13) {
        send();
    }
}

    function noEvent() {
    	if (event.keyCode == 116 || event.keyCode == 9) {
    		alert('No!');
    		return false;
    	}
    	else if (event.ctrlKey && (event.keyCode = 78 || event.keyCode == 82)){
    		return false;
    	}
    } 
    
    document.onkeydown = noEvent;
    
//  채팅이 많아져 스크롤바가 넘어가더라도 자동적으로 스크롤바가 내려가게함
    window.setInterval(function() {
        var elem = document.getElementById('chatroom');
        elem.scrollTop = elem.scrollHeight;
    }, 0);
    
    
    
     
    var webSocket;
    var nickname;
    var nickname1 = "회원1";
    /* <![CDATA[*/
    var roomId = /*[[${room.roomId}]]*/;
    /* ]]> */
    /* document.getElementById("name").addEventListener("click",function(){ */
       window.onload = function (){
    	nickname = nickname1;
        	/* document.getElementById("nickname1").value; */ //여기를 세션값으로 바꾸면 될거같은데?
        /* document.getElementById("nickname").style.display = "none"; */
        /* document.getElementById("name").style.display = "none"; */
        connect(); }
   /*  }) */
    document.getElementById("send").addEventListener("click",function(){
        send();
    })
    function connect(){
        webSocket = new WebSocket("ws://192.168.1.97:8080/chat");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;
    }
    function disconnect(){
        webSocket.send(JSON.stringify({chatRoomId : roomId,type:'LEAVE',writer:nickname}));
        webSocket.close();
        window.location.href="http://192.168.1.97:8080/";

       /*  webSocket.disconnect(); */
	  
		/* window.onbeforeunload = function(e){
		        webSocket.send(JSON.stringify({type:'LEAVE',writer:nickname}));
		        webSocket.close();
		    }; */
		
    }
    
    function send(){
        msg = document.getElementById("message").value; 
        console.log(msg);
        webSocket.send(JSON.stringify({chatRoomId : roomId,type:'CHAT',writer:nickname,message : msg}));
        document.getElementById("message").value = "";
   
    }
    
  
	
    function onOpen(){
        webSocket.send(JSON.stringify({chatRoomId : roomId,type:'ENTER',writer:nickname}));
    }
    function onMessage(e){
        data = e.data;
        chatroom = document.getElementById("chatroom");
        chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;
    }
    function onClose(){
        disconnect();
    }

</script>
</html>