<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>채팅 서비스</title>
<!-- vscode 확인용 -->
<!-- <link rel="stylesheet" href="../resources/room.css" type="text/css" /> -->
<link rel="stylesheet" href="/room.css" type="text/css" />
<link rel="stylesheet" href="/webfont.css" />

<!-- Bootstrap core CSS -->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

<!-- 부가적인 테마 -->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<!-- <script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
</head>
<body>
	<!-- <input type="text" id="nickname" class="form-inline"
		placeholder="닉네임을 입력해주세요용" required autofocus>
	<button class="btn btn-primary" id="name">확인</button> -->
	<label for="roomId" class="label label-default">방 번호</label>
	<label th:text="*{room.roomId}" id="roomId" class="form-inline"></label>
	<br />
	<!-- <label for="roomName" class="label label-default">방 이름</label>
	<label th:text="*{room.name}" id="roomName" class="form-inline"></label> -->
	<div class="container">

		<div id="chatroom" class="chatroom-div">

			<div id="divButtonCreateRoom" class="exit-div">
				<button id="Exit" class="exit-btn common-btn" type="button"
					onclick="disconnect()">
					<i class="fas fa-2x fa-times"></i>
				</button>
			</div>


		</div>



		<div class="select-area">
			<div class="option-div">
				<div class="chat-select">
					<select id="message" class="message-box" required autofocus>

						<option
							value="<img src = http://192.168.1.97:8080/img/go.jpeg class=img-mid>">
							Go.</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/hello.jpeg class=img-mid>">
							Hello.</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/no.jpeg class=img-mid>">
							No.</option>
					</select>
				</div>
				<div class="chat-send">
					<button class="send-btn chat-btn common-btn" id="send">
						<i class="fas fa-comments"></i> <span>Chat</span>
					</button>
				</div>
			</div>
			<div class="option-div">
				<div class="code-select">
					<select id="code1" class="message-box" required
						placeholder="Please select" autofocus onload="getTime()">
						<option
							value="<img src = http://192.168.1.97:8080/img/isang.png class=img-sm>"
							title="http://icons.iconarchive.com/icons/hopstarter/square-flags/16/South-Korea-Flag-icon.png"
							>
							이상해씨</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/tuttle.png class=img-sm>">
							꼬부기</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/pa.png class=img-sm>">
							파이리</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/pika.png class=img-sm>">
							피카츄</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/butter.png class=img-sm>">
							버터풀</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/jam.png class=img-sm>">
							잠만보</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/ggoret.png class=img-sm>">
							꼬렛</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/googoo.png class=img-sm>">
							구구</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/nya.png class=img-sm>">
							나옹</option>
					</select> <select id="code2" class="message-box" required
						placeholder="Please select" autofocus onload="getTime()">
						<option
							value="<img src = http://192.168.1.97:8080/img/isang.png class=img-sm>">
							이상해씨</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/tuttle.png class=img-sm>">
							꼬부기</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/pa.png class=img-sm>">
							파이리</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/pika.png class=img-sm>">
							피카츄</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/butter.png class=img-sm>">
							버터풀</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/jam.png class=img-sm>">
							잠만보</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/ggoret.png class=img-sm>">
							꼬렛</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/googoo.png class=img-sm>">
							구구</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/nya.png class=img-sm>">
							나옹</option>
					</select> <select id="code3" class="message-box" required
						placeholder="Please select" autofocus onload="getTime()">
						<option
							value="<img src = http://192.168.1.97:8080/img/isang.png class=img-sm>">
							이상해씨</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/tuttle.png class=img-sm>">
							꼬부기</option>
						<option
							value="<img src = http://192.168.1.97:8080/img/pa.png class=img-sm>">
							파이리</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/pika.png class=img-sm>">
							피카츄</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/butter.png class=img-sm>">
							버터풀</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/jam.png class=img-sm>">
							잠만보</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/ggoret.png class=img-sm>">
							꼬렛</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/googoo.png class=img-sm>">
							구구</option>
							<option
							value="<img src = http://192.168.1.97:8080/img/nya.png class=img-sm>">
							나옹</option>
					</select>
				</div>
				<div class="code-send">
					<button class="send-btn code-btn common-btn" id="codesend">
						<i class="fas fa-unlock-alt"></i> <span class="btn-label">Code</span>
					</button>
				</div>
			</div>
			<!-- End of option-div -->
		</div>
		<!-- End of select-area -->
	</div>
	<!-- End of container -->

	<script src="https://kit.fontawesome.com/04da709f7e.js"
		crossorigin="anonymous"></script>





	<script th:inline="javascript">

      //엔터키를 통해 send함
      function enterkey() {
          if (window.event.keyCode == 13) {
              send();
          }
      }



          /* function noEvent() {
          	if (event.keyCode == 116 || event.keyCode == 9) {
          		alert('No!');
          		return false;
          	}
          	else if (event.ctrlKey && (event.keyCode = 78 || event.keyCode == 82)){
          		return false;
          	}
          }

          document.onkeydown = noEvent; */

          window.onbeforeunload = function(e){
          	var dialogText = 'Dialog text here';
         	 e.returnValue = dialogText;

          }



         //새로고침방지
         window.onbeforeunload = function(/* e */){
          	 /* var dialogText = 'Dialog text here';
          	 e.returnValue = dialogText; */
      	   webSocket.send(JSON.stringify({chatRoomId : roomId,type:'LEAVE',writer:nickname}));
             webSocket.close();
             window.location.href="http://192.168.1.97:8080/";
         }


          var webSocket;
          var nickname;
          var nickname1 = "회원1";
          /* <![CDATA[*/
          var roomId = /*[[${room.roomId}]]*/;
          /* ]]> */
          /* document.getElementById("name").addEventListener("click",function(){ */
             window.onload = function (){
          	nickname = nickname1;
              	/* document.getElementById("nickname1").value; */ //여기를 세션값으로 바꾸면 될거같은데?
              /* document.getElementById("nickname").style.display = "none"; */
              /* document.getElementById("name").style.display = "none"; */
              connect(); 
           }
         /*  }) */
         
         /*  binding chat-btn event */
          document.getElementById("send").addEventListener("click",function(){
              send();
          });
          
          /* binding codesend-btn event */
          document.getElementById("codesend").addEventListener("click", function(){
        	  codesend();
          });
          function connect(){
              webSocket = new WebSocket("ws://192.168.1.97:8080/chat");
              webSocket.onopen = onOpen;
              webSocket.onclose = onClose;
              webSocket.onmessage = onMessage;
          }
          function disconnect(){
              webSocket.send(JSON.stringify({chatRoomId : roomId,type:'LEAVE',writer:nickname}));
              webSocket.close();
              window.location.href="http://192.168.1.97:8080/";

             /*  webSocket.disconnect(); */

      		/* window.onbeforeunload = function(e){
      		        webSocket.send(JSON.stringify({type:'LEAVE',writer:nickname}));
      		        webSocket.close();
      		    }; */
      	 }

        /*  let today = new Date();
             document.write(today.toLocaleTimeString()); */

          function send(){
          	let today = new Date();
              let now2 = today.toLocaleTimeString();
              let now = "<span class=timestamp>" + now2 + "</span>";
              msg = document.getElementById("message").value;
              if(msg != "") {
              msg += now;
              console.log(msg);
             webSocket.send(JSON.stringify({chatRoomId : roomId,type:'CHAT',writer:nickname,message : msg}));
              document.getElementById("message").value = "";
              } else {
            	  alert("choose option :(");
              }


              setTimeout(
              scroll, 100
             );

             }
             
             function codesend(){
                   
                   code1 = document.getElementById("code1").value;
                   code2 = document.getElementById("code2").value;
                   code3 = document.getElementById("code3").value;
                   
                   if(code1 && code2 && code3 != "") {
                   let result = code1 + code2 + code3;
                	   
                	
                   console.log(result);
                  webSocket.send(JSON.stringify({chatRoomId : roomId,type:'CHAT',writer:nickname,message : result}));
                   document.getElementById("code1").value = "";
                   document.getElementById("code2").value = "";
                   document.getElementById("code3").value = "";
                   } else {
                 	  alert("choose option :(");
                   }


                   setTimeout(
                   scroll, 100
                  );

                  }

          function scroll(){
          var objDiv = document.getElementById("chatroom");
      	objDiv.scrollTop = objDiv.scrollHeight;
          }

          function onOpen(){
              webSocket.send(JSON.stringify({chatRoomId : roomId,type:'ENTER',writer:nickname}));
          }
          function onMessage(e){
              data = e.data;
              chatroom = document.getElementById("chatroom");
              chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;

              setTimeout(
                      scroll, 50
                     );
          }
          function onClose(){
              disconnect();
          }
    </script>
</body>
</html>
