<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/testlog" method="post">
		<select name="userId">
			<option value="3268944226555507">sun</option>
			<option value="1668589466621909">2eebug</option>
			<option value="1649416911892763">noarmy</option>
			<option value="1283902841946955">2020232421</option>
		</select>
		<input type="submit" value="확인">
	</form>
	현재 userId = <span th:text="${session.userId}"></span>
</body>
</html>